@import "../../mixins/mixins.scss";
.todo-form {
  display: flex;
  &__input {
    font-size: 2rem;
    font-family: "noto";
    padding-left: 10px;
    width: 100%;
    @include media-mobile {
      font-size: 1rem;
    }
  }

  &__complete-all {
    background: url("../../assets/images/down-arrow.svg");
    width: 50px;
    height: 50px;
    padding: 0px 0px;
    cursor: pointer;
    margin-left: 10px;
    @include media-mobile {
      width: 20px;
      height: 20px;
    }
  }
}
