.todo {
  display: flex;
  justify-content: space-between;
  font-family: "noto";
  font-size: 1.8rem;
  padding: 5px;
  &:hover & {
    &__delete-button {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
  &__text {
    padding: 5px 0px;
    padding-left: 10px;
    width: 100%;
    word-break: break-all;
  }
  &__delete-button {
    background-image: url("../../../assets/images/delete.png");
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    text-align: right;
    align-self: center;
    display: flex;
    opacity: 0;
    transition: opacity 0.2s;
    cursor: pointer;
  }
  &__checkbox {
    width: 38px;
    height: 38px;
    display: flex;
    cursor: pointer;
  }
}
